@font-face {
  font-family: 'fontello';
  src: url("font/fontello.eot");
  src: url("font/fontello.eot?#iefix") format('embedded-opentype'), url("font/fontello.woff") format('woff'), url("font/fontello.ttf") format('truetype'), url("font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

.zentools {

	:before{
	  font-family: 'fontello';
	  font-style: normal;
	  font-weight: normal;
	  speak: none;
	  display: inline-block;
	  text-decoration: inherit;
	  width: 1em;
	  margin-right: 0.2em;
	  text-align: center;
	  opacity: 0.8;
	/* fix buttons height, for twitter bootstrap */
	  line-height: 1em;
	/* Animation center compensation - magrins should be symmetric */
	/* remove if not needed */
	  margin-left: 0.2em;
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	}
	
		
	.icon-plus:before { content: '\e811'; } /* '' */
	.icon-minus:before { content: '\e810'; } /* '' */
	.icon-up-thin:before { content: '\e813'; } /* '' */
	.icon-down-thin:before { content: '\e812'; } /* '' */
	.icon-plus-squared:before { content: '\e815'; } /* '' */
	.icon-minus-squared:before { content: '\e817'; } /* '' */
	.icon-pause:before { content: '\e80f'; } /* '' */
	.icon-stop:before { content: '\e80e'; } /* '' */
	.icon-up-dir:before { content: '\e81b'; } /* '' */
	.icon-play:before { content: '\e80d'; } /* '' */
	.icon-right-dir:before { content: '\e81c'; } /* '' */
	.icon-down-dir:before { content: '\e81a'; } /* '' */
	.icon-left-dir:before { content: '\e81d'; } /* '' */
	.icon-plus-circled:before { content: '\e814'; } /* '' */
	.icon-minus-circled:before { content: '\e816'; } /* '' */
	.icon-right:before { content: '\e822'; } /* '' */
	.icon-left:before { content: '\e823'; } /* '' */
	.icon-up:before { content: '\e819'; } /* '' */
	.icon-down:before { content: '\e818'; } /* '' */
	.icon-list:before { content: '\e825'; } /* '' */
	.icon-left-bold:before { content: '\e81f'; } /* '' */
	.icon-right-bold:before { content: '\e81e'; } /* '' */
	.icon-up-bold:before { content: '\e821'; } /* '' */
	.icon-down-bold:before { content: '\e820'; } /* '' */
	.icon-down-circled:before { content: '\e835'; } /* '' */
	.icon-left-circled:before { content: '\e800'; } /* '' */
	.icon-right-circled:before { content: '\e801'; } /* '' */
	.icon-up-circled:before { content: '\e802'; } /* '' */
	.icon-down-open:before { content: '\e803'; } /* '' */
	.icon-left-open:before { content: '\e804'; } /* '' */
	.icon-right-open:before { content: '\e805'; } /* '' */
	.icon-up-open:before { content: '\e806'; } /* '' */
	.icon-down-open-mini:before { content: '\e80b'; } /* '' */
	.icon-left-open-mini:before { content: '\e809'; } /* '' */
	.icon-right-open-mini:before { content: '\e80a'; } /* '' */
	.icon-up-open-mini:before { content: '\e80c'; } /* '' */
	.icon-down-open-big:before { content: '\e808'; } /* '' */
	.icon-left-open-big:before { content: '\e836'; } /* '' */
	.icon-right-open-big:before { content: '\e837'; } /* '' */
	.icon-up-open-big:before { content: '\e807'; } /* '' */
	.icon-dot:before { content: '\e824'; } /* '' */
		
	/* Reset on some other Zentiools elements */
	.zentools.icons li span:before {
	  margin-right: 8px;text-indent: 0;
	}
}


// Accordion and slideshow right
.es-nav .icon-right-open:before,
.slideshowstandard .zentools ul.flex-direction-nav li .next:before { content: '\e837'; font-family: 'fontello' !important; } /* 'îž' */

// Accordion and slideshow left
.es-nav .icon-left-open:before,
.slideshowstandard .zentools ul.flex-direction-nav li :before { content: '\e836'; font-family: 'fontello' !important; } /* 'î' */

// Slideshow Play / Pause
.slideshowstandard .zentools a.flex-pause:before  { content: '\e80f'; font-family: 'fontello' !important; } /* 'âŽ‰' */
.slideshowstandard .zentools a.flex-play:before { content: '\25b6'; font-family: 'fontello' !important; } /* 'â–¶' */
.slideshowstandard .zentools a.flex-stop:before { content: '\25aa'; font-family: 'fontello' !important; } /* 'â–¶' */