<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="basic"
		label="COM_REGWEB_FIELD_CONFIG_BASIC_LABEL"
		description="COM_REGWEB_FIELD_CONFIG_BASIC_DESC">
		
		<field
			name="regweb_url"
			type="URL"
			label="COM_REGWEB_FIELD_CONFIG_URL_LABEL"
			description="COM_REGWEB_FIELD_CONFIG_URL_DESC"/>
		
		<field
			name="client_id"
			type="text"
			label="COM_REGWEB_FIELD_CONFIG_CLIENT_ID_LABEL"
			description="COM_REGWEB_FIELD_CONFIG_CLIENT_ID_DESC"/>
		
		<field
			name="client_secret"
			type="text"
			label="COM_REGWEB_FIELD_CLIENT_CONFIG_SECRET_LABEL"
			description="COM_REGWEB_FIELD_CONFIG_CLIENT_SECRET_DESC"/>
	
	</fieldset>
</config>
