<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="general"
		label="COM_SL_ADVPOLL_CONFIG_FIELDSET_GENERAL_LABEL"
		description="COM_SL_ADVPOLL_CONFIG_FIELDSET_GENERAL_DESC"
	>
		<field
			name="result_display_type"
			type="radio"
			class="btn-group"
			labelclass="control-label"
			default="1"
			label="COM_SL_ADVPOLL_POLL_FIELD_RESULT_DISPLAY_TYPE_LABEL"
			description="COM_SL_ADVPOLL_POLL_FIELD_RESULT_DISPLAY_TYPE_DESC"
		>
			<option value="0">COM_SL_ADVPOLL_POLL_NORMAL</option>
			<option value="1">COM_SL_ADVPOLL_POLL_POPUP</option>
		</field>

		<field
			name="show_result"
			type="radio"
			class="btn-group"
			labelclass="control-label"
			default="1"
			label="COM_SL_ADVPOLL_POLL_FIELD_SHOW_RESULT_LABEL"
			description="COM_SL_ADVPOLL_POLL_FIELD_SHOW_RESULT_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="graph_type"
			type="list"
			labelclass="control-label"
			default="1"
			label="COM_SL_ADVPOLL_POLL_FIELD_GRAPH_TYPE_LABEL"
			description="COM_SL_ADVPOLL_POLL_FIELD_GRAPH_TYPE_DESC"
		>
			<option value="0">COM_SL_ADVPOLL_POLL_FIELD_GRAPH_TYPE_NORMAL_LINE</option>
			<option value="1">COM_SL_ADVPOLL_POLL_FIELD_GRAPH_TYPE_FULL_LINE</option>
			<option value="2">COM_SL_ADVPOLL_POLL_FIELD_GRAPH_TYPE_GOOGLE_PIE</option>
			<option value="3">COM_SL_ADVPOLL_POLL_FIELD_GRAPH_TYPE_GOOGLE_BAR</option>
		</field>

		<field
			name="show_votes"
			type="radio"
			class="btn-group"
			labelclass="control-label"
			default="1"
			label="COM_SL_ADVPOLL_POLL_FIELD_SHOW_VOTES_LABEL"
			description="COM_SL_ADVPOLL_POLL_FIELD_SHOW_VOTES_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="header_footer_bg"
			type="color"
			class="inputbox"
			labelclass="control-label"
			default="#FFFFFF"
			label="COM_SL_ADVPOLL_POLL_FIELD_HEADER_FOOTER_BG_LABEL"
			description="COM_SL_ADVPOLL_POLL_FIELD_HEADER_FOOTER_BG_DESC"
		/>

		<field
			name="header_footer_text"
			type="color"
			class="inputbox"
			labelclass="control-label"
			default="#111111"
			label="COM_SL_ADVPOLL_POLL_FIELD_HEADER_FOOTER_TEXT_LABEL"
			description="COM_SL_ADVPOLL_POLL_FIELD_HEADER_FOOTER_TEXT_DESC"
		/>

		<field
			name="body_bg"
			type="color"
			class="inputbox"
			labelclass="control-label"
			default="#EEEEDD"
			label="COM_SL_ADVPOLL_POLL_FIELD_BODY_BG_LABEL"
			description="COM_SL_ADVPOLL_POLL_FIELD_BODY_BG_DESC"
		/>

		<field
			name="body_text"
			type="color"
			class="inputbox"
			labelclass="control-label"
			default="#4D4D4D"
			label="COM_SL_ADVPOLL_POLL_FIELD_BODY_TEXT_LABEL"
			description="COM_SL_ADVPOLL_POLL_FIELD_BODY_TEXT_DESC"
		/>

	</fieldset>

	<fieldset
		name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>
		<field
			name="rules"
			type="rules"
			component="com_sl_advpoll"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component"
		/>
	</fieldset>
</config>